<ion-header>
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header align="center">
      <ion-card-subtitle>Pokedex</ion-card-subtitle>
      <ion-card-title>Olá, Treinador</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="imagem"></ion-img>
      <br />
      <p style="text-align: justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta nisl tempus pulvinar sagittis. Aenean vel arcu feugiat, fringilla augue vel, vestibulum magna.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>