<ion-header>
  <ion-toolbar>
    <ion-title>
      Informações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top: 30%">
    <ion-card-content>
      Aplicativo desenvolvido com o principal objetivo de aumentar o conhecimento em Ionic da atual desenvolvedora.
      <br/><br />
      <p align="center"><b>Alexa Lins</b></p>
      <br />
      <div align="center">
        <ion-button color="dark" href="https://github.com/alexalins/pokedex-ionic4">
          <ion-icon name="logo-github"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>